
!.gitignore
excel-imports/
inspection/
productos/
boletas/
delivery-conformidad/
.htaccess
agentecompra/
assets/
cotizaciones_finales/
delivery-conformidad/
regulaciones/
vouchers/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.mp4
*.mp3
*.wav